<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
  
  <nav>
      <ul>
      {% for item in nav.items %}
        <li><a href="{{ item.url }}"{% if item.url === page.url %} aria-current="page" data-state="active" {% endif %}>{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    </nav>

<header>
    <div class="header">{{ title }}</div>
</header>

  <main>
    {{ content | safe }}
  </main>

<footer>
    <a class="social-icon" href="mailto:al35@sanger.ac.uk">
        <ion-icon name="mail-outline"></ion-icon>
    </a>

    <a class="social-icon" href="https://github.com/Phuong-Le">
        <ion-icon name="logo-github"></ion-icon>
    </a>

    <a class="social-icon" href="https://twitter.com/le_anh_phuong">
        <ion-icon name="logo-twitter"></ion-icon>
    </a>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <p>&copy; 2023 Anh Phuong Le</p>

</footer>
    
</body>
</html>